/* stylelint-disable */
.classHtml::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f2bb05;
    opacity: 0.8;
    backdrop-filter: blur(8px);
    z-index: -1;
}


.divLogin {
    margin-right: 20%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divLogoSerelepe {
    margin-left: 20%;
    width: 50%;
}


.logoSerelepe {
    margin-left: 20%;
    height: auto;
    max-width: 100%;
    max-height: 400px;
    clip-path: inset(0 0 5% 0);
    transform: scaleX(-1);

    animation: moveLogo 1s forwards, rotateLogo 2s 1;
}

@keyframes moveLogo {
    0% {
        transform: translateX(-1);
    }

    50% {
        transform: translateX(400px);
    }

    100% {
        transform: translateX(-1);
    }
}

@keyframes rotateLogo {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(180deg);
    }
}





.login-form {
    display: flex;
    width: 55%;
    flex-direction: column;
}

.inputField {
    width: 50%;
}