/* stylelint-disable */

@media (max-width: 768px) {
    .divLogoSerelepe {
        height: 0px;
        width: 0;
    }

    .logoSerelepe {
        display: none;
        width: 0px;
    }

    .divLogin {
        width: 100%;
        margin-top: 15%;

    }
}






.divLogin {
    margin-right: 20%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divLogoSerelepe {
    margin-left: 20%;
    width: 50%;
}




.logoSerelepe {
    margin-left: 20%;
    height: auto;
    max-width: 100%;
    max-height: 400px;
    clip-path: inset(0 0 5% 0);
    transform: scaleX(-1);

    animation: moveLogo 1s forwards, rotateLogo 2s 1;
}

@keyframes moveLogo {
    0% {
        transform: translateX(-1);
    }

    50% {
        transform: translateX(400px);
    }

    100% {
        transform: translateX(-1);
    }
}

@keyframes rotateLogo {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(180deg);
    }
}





.login-form {
    display: flex;
    width: 55%;
    flex-direction: column;
}

.inputField {
    width: 50%;
}